# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log

# Virtual environments
env/
venv/
.venv/
.python-version

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Marimo
__marimo__/

# VSCode (optional)
.vscode/
